.vertical-line {
    width: 2px;
    background-color: white;
    height: 410px;
}

.custom-placeholder::-webkit-input-placeholder {
    color: white;
}

.custom-placeholder::-moz-placeholder {
    color: white;
    opacity: 1;
}

.custom-placeholder:-ms-input-placeholder {
    color: white;
}

.custom-placeholder:-moz-placeholder {
    color: white;
    opacity: 1;
}

.tabback {
    background: none !important;
    color: white !important;
}

.tabhed {
    background-color: #090b13 !important;
    color: white !important;
}

.loggg {
    background-color: #002dc0;
    border: none;
}

.loggg:hover {
    background-color: #00156b;
}